{% extends "layout.html" %}
{% block content %}

    <link href="static/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="static/vendor/node_modules/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="static/vendor/node_modules/leaflet-sidebar/src/L.Control.Sidebar.css"/>
    <link rel="stylesheet" href="static/vendor/node_modules/leaflet-easybutton/src/easy-button.css"/>
    <script src="static/vendor/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="static/vendor/node_modules/leaflet-sidebar/src/L.Control.Sidebar.js"></script>
    <script src="static/vendor/node_modules/leaflet-easybutton/src/easy-button.js"></script>


    <div id="map"></div>
    <div id="sidebar">
        <h1>Viennese perspectives on and perceptions of far away places</h1>
        <img class="sidebar-img" src="https://thanados.openatlas.eu/api/display/196753.jpg">
        <h2>The voyage of the Novara</h2>

        <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>



    <script src="static/js/index.js"></script>
{% endblock %}
