{% extends "layout.html" %}
{% block content %}
<html>
<div id="globus" style="width:100%;height:100%"></div>
<div style="position: absolute; left:0; padding:10px;">
    <button id="btnOSM" style="float:left; margin: 3px;">OSM</button>
    <button id="btnMQS" style="float:left; margin: 3px;">SAT</button>
</div>
<script type="module">

    import {Globe} from './static/vendor/node_modules/@openglobus/og/src/og/Globe.js';
    import {GlobusTerrain} from './static/vendor/node_modules/@openglobus/og/src/og/terrain/GlobusTerrain.js';
    import {XYZ} from './static/vendor/node_modules/@openglobus/og/src/og/layer/XYZ.js';
    import { SkyBox } from './static/vendor/node_modules/@openglobus/og/src/og/scene/SkyBox.js';

    document.getElementById("btnOSM").onclick = function () {
        osm.setVisibility(true);
    };

    document.getElementById("btnMQS").onclick = function () {
        sat.setVisibility(true);
    };


    let osm = new XYZ("OpenStreetMap", {
        isBaseLayer: true,
        url: "//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        visibility: true,
        attribution: 'Data @ OpenStreetMap contributors, ODbL'
    });

    let sat = new XYZ("MapBox Satellite", {
        isBaseLayer: true,
        url: "https://api.mapbox.com/styles/v1/mapbox/satellite-v9/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoibWdldmxpY2hzY2FuZXgiLCJhIjoiY2pwcGdsaXlnMDQzdDQybXhsOWZlbXBvdSJ9.fR2YE-ehJA4iajaJBAPKvw",
        visibility: false,
        attribution: `Mapbox Sattelite`
    });

    let globus = new Globe({
        "target": "globus",
        "name": "Earth",
        "terrain": new GlobusTerrain(),
        "layers": [osm, sat],
        "skybox": SkyBox.createDefault('../../res/'),
        "sun": {
		            "active": true
		        }
    });
</script>
{% endblock %}
