# sensitive data (except example files)
instance/*
!instance/example_*

# cache
__pycache__/*
.cache

# compiled files
*.pyc

# ide
.idea
venv

#tests
tests/cover/*
tests/.coverage

#vendor
viper/static/vendor/*
viper/static/vendor/node_modules/*
viper/static/vendor/node_modules
!viper/static/vendor/*.json
**/node_modules

#files
viper/static/images/jpgs/*


/viper/static/vendor/node_modules/
